<!-- Template de la tabla del reporte de facturacion para agregar un nuevo row. -->
<script id="tmpl_rpt_pagos_linea_general_row" type="text/x-handlebars-template">
      {{#rows}} 
        <tr>
					<td><strong>{{mes}}</strong></td>
					<td>{{clientes_validos}}</td>
					<td>{{total_pagado}}</td>
					<td>{{comision_feenicia}}</td>
					<td>{{iva_comision_f}}</td>
					<td>{{total_comision_f}}</td>
					<td>{{comision_docdigitales}}</td>
        </tr>
      {{/rows}} 
</script>